<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            margin:0
        }
        .bg{
        background: url( "/images/forest-bg.jpg") no-repeat center fixed;
        background-size:cover;
        height: 100vh;
        background-position:center;
        }
    </style>

<title>Transformation-Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    

</head>
<body>


    <div class="logo">
        <img src="/images/logo.jpg">
    </div>
    <div class="bg">

    </div>

    <div>
        <ul class="nav-area">
            <li><a href="/"> Home </a></li>

            <li><a href="/leisureBox"> About </a></li>
        </ul>
    </div>
